#game-table{
	margin: 50px auto;
	background-color: rgba(0, 64, 35, 1);
	border-radius: 5%;
	border-width: thick;
	width: 60em;
	height: 45em;
	opacity: 1;
	position: relative;
	padding: 1em;
}

.AvatarImage{
	height: 5em;
	width: 5em;
}

.cards_img{
	width: 5em;
	height: 8em;
	border: 0;
	cursor: pointer;
}


.CenterOfTable{
	width: 100%;
	margin: auto;
}

#MyTeammate{
	width: 80%;
	margin: auto;
	text-align: center;
}

#OpponentFirst{
	width: 15%;
	text-align: center;
	display:table-cell;
    vertical-align:middle; 
}

#OpponentSecond{
	width: 15%;
	text-align: center;
	display:table-cell;
    vertical-align:middle; 
}


#Me{
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 2em;
}

.OpponentFirst-cards{
	margin-top: -3em;
}
.OpponentSecond-cards{
	margin-bottom: -3em;
}

#cards-on-table{
	width: 25%;
	height: 70%;
	text-align: center;
	display:table-cell;
    vertical-align:middle; 
}

#playedCard3{
	width: 30%;
	display:table-cell;
    vertical-align:middle; 
	text-align: center;
}
#playedCard1{
	width: 30%;
	display:table-cell;
    vertical-align:middle; 
	text-align: center;
}

#playedCard2{
	margin-top: 1em;
	margin-bottom: -6em;
	height: 8em;
}
#playedCard0{
	margin-bottom: 1em;
	margin-top: -8em;
	height: 8em;
}