html {
    overflow-y: scroll;
}


body {
    color: #5fdbe2;
    //font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0% 0% 0% 0%;
}

#main {
    //padding:2% 10% 5% 10%; 
	//width: 1350px;
    color: #000000;
    min-width: 85em;
    min-height: 150em;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgba(120,150,255,1), white 30em);
    background-repeat: repeat;
	


}
#content {
    margin-left:  5%;
    margin-right:  5%;
	margin-top: 5em;
    width: 90%;
	border-style: ridge;
	border-radius: 2em;
	border-color: #5fdbe2;
    //background-color: rgba(32, 47, 62, 0.9);
    background-color: #8babb9;
    min-height: 75em;
}

#header {
	background: transparent url("../assets/header-bg.png") no-repeat 50% 0;
	background-position: center;
	position: relative;
	width: 1350px;
	height: 450px;
	z-index: 8;
	margin:0 auto;
	margin-bottom:-100px;

}



#menuList {
	width:1000px;
	margin:0;
	position: absolute;
	margin-left: 200px;
	top: 200px;
	list-style-type: none;
	overflow: visible;
	height: 37px;
	display: table;
	border-collapse: collapse;
	clear:both;
}

.menuListItems {
    text-align: center;
	list-style: none;
	display: table-cell;
	float: none;
	position: relative;
	border-collapse: collapse;
	width: 130px;
}




.menu-link {
	color: #5fdbe2;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 23px 0 11px 0;
	position: relative;
	z-index: 2;
	font-size: .9em;
	line-height: 1.4em;
	border-collapse: collapse;
}

#login{
	position:relative;
	margin-left: 70%;
	width: 17em;
	height: 7em;
	top:-330px;
	font-style: normal;
	text-align: center;
	font-size: 1em;
	color: #5fdbe2;
	background-color: #202f3e;
	border-style: ridge;
	border-radius: 1em;
	border-color: #5fdbe2;
	opacity: 0.9;
}
.hidden{
	opacity: 0;
	position:relative;
	padding: 0;
	top:35px;
}

#logo{
	background-image: url("../assets/logo_fake.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 470px;
	height: 350px;
	margin:auto;
	margin-left: 34%;
	top: -3.9em;
	position: relative;
}

.loginTextField{
	width: 100px;
}

.play_game_button{
	margin-left: 4em;
	margin-top: 4em;
}

input{
	cursor: pointer;
}

#login-button{
	margin-top: 1.5em;
}

.Submit{
	background: #4b8df9; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999; 
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	position: relative; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}
.Submit:hover:enabled{ background-color: #2a78f6;}
.Submit:disabled{cursor:auto;}

.HeaderSearchBox{
	position:relative;
	margin-left: 40%;
	top: 8em;
        width: 20em;
}

.Inline{
	display:inline-block;display:inline \9;
}

.Clickable{
	cursor: pointer;
}


.FrontGameBannerImage {
	
        background-repeat: no-repeat;
	background-size: contain;
        min-height: 270px;
        min-width: 630px;
	margin:0 auto;
}

.TressetteBannerImage {
    background-image: url("../assets/tressetteBanner.png");
}

.BriscolaBannerImage {
    background-image: url("../assets/briscolaBanner.png");
}

.FrontBanner {
	width: 80%;
        height: auto;
	margin: auto;
        margin-top: 2em;
	padding:2em;
        background-color: #202f3e
}

.PlatformGamesTitle {
    color: #101010;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

.FrontGameDescription {
    width: 35%;
    vertical-align: top;
}

.FrontGameDescriptionTitle {
    vertical-align: top;
    font-size: 1.2em;
    color: #ffcc00;
}

.FrontGameDetails {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1em;
    margin-top: 1em;
    color: #ffffff;
}

.GameSelectorDiv{vertical-align:bottom; position: absolute; right:0em; margin-right: 4em; bottom: 0em;}