.InventoryContainer{
	font-size: 1.5em;
	margin-top: 2em;
	margin: auto;
        width: 100%;
}


.Image{
	width:7em;
	height:11em;
}

.EquipItemButton{
	font-size: 0.7em;
}

.InventoryItemContainer {
	color:#ffffff;
	width: 20em;
        height: 11em;
	margin: auto;
        margin-top: 2em;
	padding:1.2em;
        background-color: #202f3e;
		text-align: left;
		margin-left: 0.5em;
		margin-right: 0.5em;
}

.ItemDetails {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: top;
    height: 100%;
}



.ItemBanner {
    margin-left: 0.5em;
    margin-right: 1em;
    width: 30%;
    vertical-align: bottom;
}

.Detail {
    margin-bottom: 0.5em;
}

.EquipOption {
    position: absolute;
    bottom: 0em;
}

.GameSelectorDiv{vertical-align: top; margin-right: 6em;}

.InventoryHeader{position:relative;}

.HeaderDetails{
	width: 80%;
	margin: auto;
}


.Unequip{
    background-color: #40dd40;
}

.Unequip:hover:enabled {
    background-color: #30bb30;
}

.InventoryContent{
	width: 90%;
	margin: auto;
	 list-style-type: none;
    text-align: center;
	padding: 0em;
}

