#inventoryContainer{
	font-size: 1.5em;
	margin-left: 2em;
	margin-top: 5em;
}

.ItemContainer{
	font-size: 0.5em;
	width:10em;
	height: 12em;
}



.Image{
	width:7em;
	height:11em;
}

.Submit{
	font-size: 0.7em;
	margin-left: 1.5em;
}

.ItemCategory{
	margin-top: 0.5em;
	position: relative;
}