.ranking-table{
    
    padding:0px;
    overflow: hidden;
    border-collapse: collapse;
    border: 1px solid #131313;
    text-align: center;
    font-family: "Open Sans";
    font-size: 22px;
        
}
#ranking{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    // #0c9eb5
    -webkit-box-shadow: 0 0 70px #3b5df9;
    -moz-box-shadow: 0 0 70px #3b5df9;
    box-shadow: 0 0 70px #3b5df9;
    margin: auto;
    margin-top: 4em;
    width: 90%;
}

tr:nth-child(2) td:nth-child(1){ background-color: #CFB53B; }
tr:nth-child(3) td:nth-child(1){ background-color: #B2B2B2; }
tr:nth-child(4) td:nth-child(1){ background-color: #aD6F22; }
tr:nth-child(even) { background-color:#e5e5ff; }
tr:nth-child(odd){ background-color:#c5c5e5; }

.ranking-table .ranking-column{
    padding-bottom: 1em;
    padding-top: 1em;
}

.ranking-column{
    white-space:nowrap;
}
.ranking-heading{
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width:1em;
    background:-o-linear-gradient(bottom, #202f3e 5%, #202f3e 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #202f3e), color-stop(1, #202f3e) );
    background:-moz-linear-gradient( center top, #202f3e 5%, #202f3e 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#202f3e", endColorstr="#202f3e");	background: -o-linear-gradient(top,#202f3e,#202f3e);
    background-color:#202f3e;
    text-align:center;
    color: #afdbe2;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    
}


#content {
    background-color: #202f3e;
}
