
#gioca_button{
	margin-left: 35em;
	margin-top: 7em;
}
#tressette-img{
	margin-left: 28em;
}


#loading{
	width: 4em;
	height: 4em;
	margin-left: 35em;
}

#undo-queue{
	margin-left: 40em;
	width: 4em;
	height: 4em;
}

.TressetteBannerImage2 {
	background-image: url("../assets/tressetteBanner2.png");
        background-repeat: no-repeat;
        background-position: center;
	background-size: contain;
        min-height: 340px;
        min-width: 340px;
	margin: auto;
        margin-top: 1em;
}

.MatchChooserContainer {
    margin: auto;
    margin-top: 2em;
    width: 100%;
}

.MatchChooser {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.TressettePlayButton {
    margin: auto;
    margin-left: 2em;
    margin-right: 2em;
    
}

.TressetteIntroLine {
    
}