.GlobalHeaderContainer{
	position: relative;
	height: 2em;
	margin-top: 1em;
        background-color: #8babb9;
       
}
.ManageSubmit {
        font-size: 1em;
        margin-left: 1em;
        margin-right: 1em;
}

.SearchBox{
	position:absolute;
	right:0em;
	margin-right: 4em;
}

#rank{
	color: #ffcc00;
	font-size: 1.5em;
	margin-left: 0.5em;
}
body {
    color: black;
}
#content{
    font-size: 1.1em;
    color: #ffffff;
}
.CompetitorName{ font-size: 2em; vertical-align:bottom;}
.CompetitorImage{width:6em;height:6em;vertical-align:central; }
.CompetitorLadderRank{vertical-align:bottom;font-size:0.9em;}
.CompetitorLadderRank a{text-decoration:none; font-size: 1.2em; color: #9b9b9b;}
.CompetitorHeader{position: relative; margin: auto;}
.ProfileIcon{vertical-align:bottom; margin-left: 4em; position: relative;}
.CompetitorInformation{margin-left: 2em;}

#matchHistory{
	width: 100%; position: relative;
}

.SingleMatchContainer{
	margin-top: 2em;
        margin-left: 10em;
        margin-right: 10em;
        border-style: ridge;
        overflow: hidden;
        border-radius: 1em;
}
.MatchType{
        padding-top: 1em;
        padding-bottom: 0.5em;
	padding-left: 2em;
}

.MatchDate{
	margin-left: 2em;
}

.Inline{
	display:inline-block;display:inline \9;
}

.CompetitorAvatarImage{
    position: absolute;
    vertical-align: bottom;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 90%;
	height: 90%;
}


.PlayerMatchDetails{ 
    vertical-align:bottom;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
.MatchPlayersSeparator{ vertical-align: top; position: relative; margin-left: 5em; margin-right: 5em; margin-top: 1em;}
.MatchScores{ margin: auto; vertical-align:bottom; width: 100%;}
.Score{margin-left: auto; margin-right: auto ; position: relative; text-align: center}

.MatchStats{
    padding-left: 10em;
    padding-right: 10em;
}

.Victory.MatchStats{
    background-color: rgba(153,255,153,1);
}
.Victory.MatchType{
    background-color: rgba(120,255,120,1);
}

.Defeat.MatchStats{
    background-color: rgba(255,120,120,1);
}
.Defeat.MatchType{
    background-color: rgba(255,70,70,1);
}

#goToInventory{
	font-size: 0.5em;
	margin-left: 2em;
}

.GameSelectorDiv{vertical-align: top; margin-bottom: 2em;}

.GlobalHeaderMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}


.Error{
	margin-left: 5em;
	margin-top: 3em;
	color:#ff0000;
}