<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean id="dataSource"
    class="org.apache.commons.dbcp2.BasicDataSource"
    p:driverClassName="org.hsqldb.jdbcDriver"
    p:url="jdbc:hsqldb:mem:mydb"
    p:username="sa"
    p:password=""> 
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <property name="packagesToScan" value="it.unical.ea.aquamarine.multigamingCompetitionSystem.core.users, it.unical.ea.aquamarine.multigamingCompetitionSystem.persistence, it.unical.ea.aquamarine.multigamingCompetitionSystem.games.matchResults, it.unical.ea.aquamarine.multigamingCompetitionSystem.shopAndItems.items, it.unical.ea.aquamarine.multigamingCompetitionSystem.shopAndItems" />
	    <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
	            <prop key="hibernate.hbm2ddl.auto">create</prop>
	            <prop key="hibernate.show_sql">true</prop>
	        </props>
	    </property>
	</bean>
	 
        <bean id="daoProvider" class="it.unical.ea.aquamarine.multigamingCompetitionSystem.persistence.DAOProvider" >
	</bean>
    
  
	<bean id="competitorDAO" class="it.unical.ea.aquamarine.multigamingCompetitionSystem.persistence.CompetitorsDAOImpl" >
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
        
	<bean id="matchResultsDAO" class="it.unical.ea.aquamarine.multigamingCompetitionSystem.persistence.MatchResultDAOImpl" >
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
    
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
        <context:component-scan base-package="it.unical.ea.aquamarine.multigamingCompetitionSystem.controllers" />

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

</beans>
